* {
  padding: 0px;
  margin: 0px;
}

*:focus {
  outline: none;
}

body {
  font-family: Arial;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

nav {
}

.logo_container {
  margin: auto;
  width: 150px;
}

.logo_container > img {
  margin-top: 10px;
}
