* {
  padding: 0px;
  margin: 0px;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  top: 0px; 
  left: 0px;
  z-index: 150;
}

nav {
}

.welcome {position: fixed; top: 0px; width: 100%; background-color: white;z-index: 1000;left: 0px;height: 100vh;}

.banner-image > img {width: 100%;;}

.sub-welcome {margin: auto;width: 90%;margin-top: 15vh;}

#initial {}

.complete {display: none;}

.input_exc > select {padding-bottom: 15px;}
.input_exc_text {margin-top: 15px;}

.sign-up {margin-top: 25vh;}

#signUp {display: none;}

.credits {position: fixed; bottom :
  15px; left: 0px; width: 100%;;}

  .credits > p {font-size: 12px;width: 100%; text-align: center;}

.logo_container {
  margin: auto;
  width: 150px;
}

.logo_container > img {
  margin-top: 10px;
}

#home {margin-top: 132px;;}

.hidden_meta_data {display: none;}

.inventory-item  {display: inline-block;border-right: solid 1px rgb(228, 228, 228);padding-left: 10px;padding-right: 10px;padding-top: 5px; padding-bottom: 5px;border-radius: 50px;;margin-left: 0px;margin-top: 8px;border: none;}



.inventory-status {overflow: scroll;white-space: nowrap;}

.inventory-item > img {width: 20px;float: left;opacity: 0.53;}

.inventory-item > p {float: left;color: black;margin-left: 5px;}

#result > ul > li {margin: auto; width: 92%;padding-bottom: 7px;margin-top: 12px;list-style-type: none;border-radius: 10px;padding-top: 7px;border: solid 1px lightgray;}

.time-stamp {width: 100%; text-align: center;font-size: 12px;color: black;}

#result > ul > li > p {margin-left: 10px;}

#result {margin-bottom: 55px;;}

.inv-h3 {margin-left: 10px;margin-top: 10px;color: black;font-size: 16px;}
.inv-p {margin-left: 10px;color: rgb(105, 105, 105);font-size: 14px;}

.false {display: none;}
.true {display: inline-block;}

.city-item > img  {display: inline-block;margin-top: 0px;margin-left: 5px;position:absolute;margin-top: -5px;}


.city-item > p {display: inline-block;float:left;font-size: 14px;margin-left: 30px;}

.city-item {display: inline-block;border: solid 1px lightgray;padding-right: 10px;padding-top: 4px;padding-bottom: 4px;border-radius: 50px;margin-left: 3px;}

.city-nav {overflow: scroll;white-space: nowrap;}

.exc {padding-left: 10px;}

.exc > p {margin-left: 0px;}

.fixed-item {position: sticky;background-color: white; z-index: 15;margin-left: 15px;}

@media screen and (orientation:landscape) {
.logo_container {display: none;}
#home {margin-top: 84px;}
}