*{
    padding:0;
    margin:0;
}

*:focus{
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.verification_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    margin: auto;
    text-align: center;
}

.verification_wrap > h4{
font-size: 1.25rem;
font-weight: bold;
color:#424242;
padding-bottom: 10px;
}


.verification_wrap > form{
display: flex;
flex-direction: column;
padding:10px 0px;
width:90%;
}

.input_wrap{
    display: flex;
    flex-direction: column;
    margin-top:40px;
}

.input_wrap > label{
    width: fit-content;
    font-weight: bold;
}

.input_wrap > input{
    width: 100%;
    border-bottom:1px solid #7A7A7A;
    border-top:none;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    padding:7.5px 20px;

}

input[type="text"]:focus{
    border-bottom:1px solid rgb(12, 138, 255);
}

input[type="tel"]{
    width: 60%!important;
}

input[type="tel"]:focus{
    border-bottom:1px solid rgb(12, 138, 255);
}


select{
    width: fit-content;
    border: none;
    border-bottom:1px solid #7A7A7A;
    margin-top: 10px;
    background: white;
}



.check_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked + label{
    border:rgb(29, 29, 29) 1px solid;
}

input[type=checkbox]:checked + label > img{
    filter: contrast(1);
}

.check_wrap > label{
    border:#707070 1px solid;
   height: 30px;
   width:75px;
    background-color: white;
    border-radius: 20px;
    margin:10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check_wrap > label > img{
    filter: contrast(0);
    object-fit: contain;
    height: 20px;
}

#verify_submit{
    width: fit-content;
    border:none;
    color: white;
    background: #0889D1;
    font-size: .875rem;
    padding:10px 30px;
    margin-top:10px;
    align-self: center;
}
